---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/background.css';
---

<style>
  main h1 {
    margin-top: 0;
  }
</style>

<Header />
<main>
  <h1>Second Post</h1>
  <p>This is the second post in my blog.</p>
</main>
<Footer />
