---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />
<main>
  <h1>Contact Me</h1>
  <p>You can reach me at contact@example.com</p>
</main>
<Footer />
